@font-face {
    font-family: "Neue Kabel W01 Book";
    src: url("https://db.onlinewebfonts.com/t/18997729e452a082c38ae1a86a873674.eot");
    src: url("https://db.onlinewebfonts.com/t/18997729e452a082c38ae1a86a873674.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/18997729e452a082c38ae1a86a873674.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/18997729e452a082c38ae1a86a873674.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/18997729e452a082c38ae1a86a873674.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/18997729e452a082c38ae1a86a873674.svg#Neue Kabel W01 Book")format("svg");
}

@font-face {
    font-family: "Mexcellent";
    src: url("https://db.onlinewebfonts.com/t/a71dd5d04430a5d021186c05537a34f6.eot");
    src: url("https://db.onlinewebfonts.com/t/a71dd5d04430a5d021186c05537a34f6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a71dd5d04430a5d021186c05537a34f6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a71dd5d04430a5d021186c05537a34f6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a71dd5d04430a5d021186c05537a34f6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a71dd5d04430a5d021186c05537a34f6.svg#Mexcellent")format("svg");
}

@font-face {
    font-family: "Mexcellent V1";
    src: url("https://db.onlinewebfonts.com/t/c8e08d8af275a2577388127977ac638f.eot");
    src: url("https://db.onlinewebfonts.com/t/c8e08d8af275a2577388127977ac638f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c8e08d8af275a2577388127977ac638f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c8e08d8af275a2577388127977ac638f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c8e08d8af275a2577388127977ac638f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c8e08d8af275a2577388127977ac638f.svg#Mexcellent V1")format("svg");
}

*{
    font-family: "Neue Kabel W01 Book";
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.container {
    display: flex;
    margin-bottom: 80px;
}

.container .left{
    width: 30%;
}

.container .left h3 {
    font-family: "Mexcellent";
}

.container .right{
    width: 60%;
}

.name {
    font-family: "Mexcellent";
    font-size: 100px;
}